	 		 <div class="content_top">  
	 		     <div class="wrap">                             		
            	    <div class="banner_desc wow fadeInLeft" data-wow-delay="0.5s">
						<h1>Conception </br>Ingénierie </br>Informatique</br>Micro</h1>
						<p><span>Ingénierie Informatique, Service et Maintenance Matériel & Logiciel</span></p>  
						<p>Dépannage à domicile - Assistance et conseils</p>						
						<p><img src="{{ asset('assets') }}/images/ordinateur-PC-portable-MAC-tablette.png" alt="Réparation ordinateur, ordinateur portable, PC, MAC, tablette Nancy" /></p>
						<p>Réparation ordinateur, ordinateur portable, PC, MAC, tablette...</p>
						<p><img src="{{ asset('assets') }}/images/ciilogo3.png" alt="numéro de téléphone" /></p>
					</div>  

					<div class="diaporama wow fadeInRight" data-wow-delay=".7s">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="gallery-bg1 gallery-text">
										<div class="cadre-avantages">
											<h3>Prise en main matériel et logiciel</h3>
										</div>
									</div>
								</li>
								<li>
									<div class="gallery-bg0 gallery-text">
										<div class="cadre-avantages">
											<h3>Assistances et conseils.</h3>
										</div>	
									</div>
								</li>
								<li>
									<div class="gallery-bg gallery-text">
										<div class="cadre-avantages">
											<h3>Maintenance et gestion de la garantie</h3>
										</div>	
									</div>
								</li>

								<li>
									<div class="gallery-bg3 gallery-text">
										<div class="cadre-avantages">
											<h3>Vente d'ordinateurs de bureau, PC portables, composants et périphériques PC.</h3>
										</div>
									</div>
								</li>
								<li>
									<div class="gallery-bg2 gallery-text">
										<div class="cadre-avantages">
											<h3>Les interventions informatiques sont toutes garanties pièces et main d'œuvre.</h3>
										</div>
									</div>
								</li>
							</ul>
						</div>
					<!--slider-script-->
					<script defer src="{{ asset('assets') }}/js/jquery.flexslider.js"></script>
					<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "pagination",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					</script>
					<!--End-slider-script-->
					</div>

					<div class="clear"></div>
				</div> 
				<div class="reparation-region wow fadeInDown" data-wow-delay="1s">
					<h2>Conception Ingénierie Informatique Micro</br> 
					<div class="atelier-ville"><a href="#"><span data-hover="Informatique ">Informatique </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Ingénierie ">Ingénierie </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Maintenance ">Maintenance </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Réseaux ">Réseaux </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Ventes">Ventes </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Audit ">Audit  </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Conseil ">Conseil  </span></a></div>
					<div class="atelier-ville"><a href="#"><span data-hover="Services ">Services </span></a></div></h2>  
				</div>
			</div>