   <div class="footer">
   	 <div class="wrap">
   	 <div class="section group example">
				<div class="col_1_of_3 span_1_of_3 list-details">
				   <h3>Prestations</h3>
				   <ul>
				   	<li><a href="#">Dépannage et assistance informatique</a></li>
				   	<li><a href="#">Remplacement écran clavier alimentation</a></li>
				   	<li><a href="#">Récupération de données</a></li>
					<li><a href="#">Réparateur informatique</a></li>
					<li><a href="#">Formatage et restauration</a></li>
				   	<li><a href="#">Eradication virus</a></li>
				   	<li><a href="#">Réparation ordinateur</a></li>
				   	<li><a href="#">Changement d'écran d'ordinateur</a></li>					
				   </ul>				   
 				</div>
 				<div class="col_1_of_3 span_1_of_3 list-details">
				   <h3>C2i Micro</h3>
				   <ul>
				   	<li><a href="#">Maintenance</a></li>
				   	<li><a href="#">Prestations</a></li>
				   	<li><a href="#">Promos et Destockages</a></li>
				   	<li><a href="#">Audit</a></li>
				   	<li><a href="#">Conseil</a></li>
				   	<li><a href="#">Service</a></li>	
				   </ul>				   
 				</div>
				<div class="col_1_of_3 span_1_of_3 list-details">
				   <h3>Contact</h3>
				   <ul>
					<li><a href="tel:+33767664401"><span>Tél :</span> +33(0)7 67 66 44 01/ +33(0)9 54 35 33 92</a></li>
					<li><script type=text/javascript> var name = "contact" ; var domain = "c2i-micro.com" ; var subject = "subject=StopSpam" ; document.write('<a href="mailto:' + name + '@' + domain + ' ?' + subject + '"><span>E-mail :</span> ') ; document.write(name + '@' + domain + '</a>') ;</script></li>				   
				   	<li><span>Adresse :</span> 04 rue Henri Ziegler, 31300 Toulouse</li>				
				   </ul>
				        <div class="social-icons">
							<h3>Suivez nous</h3>
								<ul>
							      <li><a href="#" target="_blank"> <img src="{{ asset('assets') }}/images/facebook.png" alt="Facebook" /> Facebook</a></li>
 								  <li><a href="#" target="_blank"> <img src="{{ asset('assets') }}/images/google_plus.png" alt="Google Plus" /> Google+</a></li>
								</ul>
							 <div class="clear"></div>
   	 					</div>			   
 				</div>
				<div class="clear"></div>
		    </div>
		  </div> 
       </div> 
		     <div class="copy_right">
		     	<div class="wrap">
				    <p>© Copyright 2021. C2i Micro. Tous droits réservés.</p>
					
		     	</div>
		   	</div>	