  <div class="header" id="home">
  	  <div class="header_top">
			<div class="wrap">
				<div class="center-topbar">
					<div class="tel">						
						<img src="{{ asset('assets') }}/images/c2ilogo.jpeg" alt="téléphone 0767664401" />
					</div>				
					<div class="logo">
							<a href="index.php" class="scroll"><img src="{{ asset('assets') }}/images/logoc2imicro.jpg" alt="nancy-dépannage logo" /></a>
					</div>
					<div class="tel_mobile">						
						<img src="{{ asset('assets') }}/images/numero_intervention.jpeg" alt="téléphone 0617166334" />
					</div>					
							<div class="menu">
								<ul class="slide-effect">
                                	<li><a href="index.php"><span data-hover="Accueil">Accueil</span></a></li>
									<li><a href="#prestata"><span data-hover="Prestations">Prestations</span></a></li>
									<li><a href="#destock"><span data-hover="Promos et Destockages">Promos et Destockages</span></a></li>
									<li><a href="#tarif"><span data-hover="Tarifs">Tarifs</span></a></li>
									<li><a href="#contact"><span data-hover="Contact">Contact</span></a></li>
								</ul>
							</div>	
					 <div class="clear"></div>
				</div>
			</div>
	    </div>
	 </div>	