 <div class="features top_accueil_mobile" id="features">
					<div id="prestata"  class="wrap wow fadeInDown" data-wow-delay="0.1s">                   	
                 		  <h2>Prestations <span>informatiques</span></h2>
                 		    <p>C2i Micro couvre tous les domaines de l'informatique. Nos <span>services et prestations en informatique</span> sont soigneusement rendues par des <span>informaticiens professionnels, expérimentés et certifiés</span> qui dépannent et réparent les appareils electroniques quotidiennement et dans les règles de l'art. La polyvalence de l'enseigne à démontré ses compétences durant ses années d'expérience avec une <span>diversité d'intervention.</span> </p>
                 		        <div class="features_grids">
							     <div class="section group">
									<div class="grid_1_of_4 images_1_of_4 wow fadeInDown" data-wow-delay="0.1s">
										 <img src="{{ asset('assets') }}/images/depannage.png" alt="dépannage informatique" />
										 <h3>Dépannage</h3>
										 <ul class="info"> 
											<li>Réparation ordinateur, PC portable, MAC, iMAC...</li>
											<li>Dépannage à domicile, à distance, en atelier</li>
											<li>Récupération de données.</li>
											<li>Récupération/supression de mot de passe.</li>
											<li>Ordinateur qui ne démarre pas, écran noir...</li>
											<li>Ordinateur qui chauffe, qui fait du bruit, qui bloque...</li>									
											<li>Assistance et dépannage informatique divers...</li>
										</ul>
									</div>
									<div class="grid_1_of_4 images_1_of_4 wow fadeInDown" data-wow-delay="0.3s">
										 <img src="{{ asset('assets') }}/images/installation.png" alt="installation" />
										  <h3>Prise en main matériels & logiciels</h3>
										<ul class="info"> 
											<li>Remplacement d'écran d'ordinateur portable.</li>
											<li>Remplacement de clavier d'ordinateur portable.</li>
											<li>Changement d'alimentation.</li>
											<li>Remplacement de connecteur d'alimentation.</li>
											<li>Changement de carte mère, carte graphique, carte wifi...</li>
											<li>Remplacement de la plasturgie de PC et MAC.</li>
										</ul>
									</div>
									<div class="grid_1_of_4 images_1_of_4 wow fadeInDown" data-wow-delay="0.6s">
										<img src="{{ asset('assets') }}/images/configuration.png" alt="configuration" />
										<h3>Maintenance & Gestion de la garantie</h3>
										<ul class="info"> 
											<li>Installation Windows, MAC OS, LINUX...</li>
											<li>Formatage PC, réinitialisation, réglages d'usine.</li>
											<li>Installation et configuration imprimante.</li>
											<li>Installation BOX Internet, modem Internet.</li>
											<li>Configuration du Wifi, imprimante wifi, imprimante réseau.</li>
											<li>Installation réseau, répéteur Wifi, switch...</li>
										</ul>
									</div>
									<div class="grid_1_of_4 images_1_of_4 wow fadeInDown" data-wow-delay="0.7s">
										 <img src="{{ asset('assets') }}/images/assistance.png" alt="assistance formation cours informatique" />
										 <h3>Assistance et Conseils</h3>
										<ul class="info"> 
											<li>Assistance informatique</li>
											<li>Hotline téléphonique</li>
											<li>Maintenance de parc informatique.</li>
											<li>Administration Windows Server et serveur Unix.</li>
											<li>Formations et cours informatique.</li>
											<li>Bureautique, messagerie, logiciels...</li>
											<li>Dépannage à domicile, en atelier, sur site et à distance.</li>
										</ul>
									</div>
					              </div>	

								<div class="button_bloc">
								<div class="button wow fadeInDown" data-wow-delay="0.6s"><a href="depannage-informatique.html">Promos & Destockages<img src="{{ asset('assets') }}/images/arrow.png" alt="prestations nancy-dépannage" /></a></div>
								</div>
								
								</div>
								<p id="destock" ><span>Les tarifs de nos promotions </span>changeant régulièrement, nous vous prions de  nous contacter par téléphone pour connaitre le prix et le contenu de celles-ci.</p>
								 <div class="features_grids">
							     <div class="section group">
								 	<div class="atelier-informatique atelier-informatique-image wow fadeInDown" data-wow-delay="0.5s">
										<img src="{{ asset('assets') }}/images/pics077.jpg" alt="Logiciel" />
									</div>
									<div class="grid_1_of_2 images_1_of_4 wow fadeInDown" data-wow-delay="0.2s">
										 <img src="{{ asset('assets') }}/images/picsa.jpg" alt="PC et Tablette." />
									</div>
									<div class="grid_1_of_2 images_1_of_4 wow fadeInDown" data-wow-delay="0.5s">
										 <img src="{{ asset('assets') }}/images/horaired.jpg" alt="PC bureau" />
									</div>
									<div class="grid_1_of_2 images_1_of_4 wow fadeInDown" data-wow-delay="0.5s">
										 <img src="{{ asset('assets') }}/images/picsb.jpg" alt="Materiel informatique" />
									</div>
					              </div>
								</div>
					</div>
     		</div>			  

			<div class="parallax_ordinateur">  
				 <div class="wrap">                             		
					<div class="banner_bottom wow fadeInLeft" data-wow-delay="0.3s">

					</div>  

					<div class="clear"></div>
				</div>
			</div>
								  
			<div class="features top_accueil_mobile">
					<div class="wrap wow fadeInDown" data-wow-delay="0.2s">                   	
                 		        <div id="tarif"  class="features_grids">
									<h2>Tarifs des <span>Prestations</span></h2>
									<p>Nous n’avons pas un tarif unique mais un tarif variable notamment en fonction de, <span> votre besoin plus le besoin est complexe, plus le tarif sera élevé</span>.</p>
									</br>
									</br>

								<div class="" data-wow-delay="0.5s">
									<img src="{{ asset('assets') }}/images/tarif_c2i.PNG" alt="Tarif" />
								</div>
								<div class="button_bloc">
									<div class="button wow fadeInDown" data-wow-delay="0.6s"><a href="tarifs.html">Demandez un devis<img src="{{ asset('assets') }}/images/arrow.png" alt="tarif nancy-dépannage" /></a></div>
								</div>
							</div>
           			</div>
     		</div>
			<div class="content_info">  
			    <div class="wrap">                             		
            	    <div class="banner_bottom wow fadeInLeft" data-wow-delay="0.3s">
						<p><span>Nous n’avons pas un tarif unique mais un tarif variable notamment en fonction de votre besoin plus le besoin est complexe, plus le tarif sera élevé.</span></p>			
					</div>
					<div class="clear"></div>
				</div>
			</div>

  		</div>
			<div class="features top_accueil_mobile">
			<div class="wrap wow fadeInDown" data-wow-delay="0.2s">
		    <div id="contact"  class="features_grids">
				<h2>Nous <span>Contacter</span></h2>
			</div>
			</div>	
			</div>		
		
		<div class="numintervention button wow fadeInLeft" data-wow-delay="0.4s"><img width="50%;" src="{{ asset('assets') }}/images/c2ilogo.jpeg" alt="Nous Contactez" /></div>

		<div class="map wow fadeInRight" data-wow-delay=".4s">
			<div class="informatique-grand-est">
				<p class="wow fadeInDown" data-wow-delay=".8s">C2i Micro!</p>
				{# <div class="logo-informatique-grand-est"><a href="index.html"><img src="images/nancy-depannage_logo.png" alt="logo Nancy-dépannage : dépannage informatique Nancy"/> </a></div> <div class="logo-informatique-grand-est"><a href="http://www.metz-depannage.fr/"><img src="images/metz-depannage_logo.png" alt="logo Metz-dépannage : dépannage informatique Metz"/> </a></div><div class="logo-informatique-grand-est"><a href="http://www.strasbourg-depannage.fr/"><img src="images/strasbourg-depannage_logo.png" alt="logo Strasbourg-dépannage : dépannage informatique Strasbourg"/> </a></div> #}
			</div>