    <div class="main">
	 	<div class="content">	

         {% include ('home/first.body.html.twig') %}

		 {% include ('home/second.body.html.twig') %}

         {% include ('home/last.body.html.twig') %}					
          
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.0596464038717!2d1.3603308154962046!3d43.60529967912303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aeb076a04a8943%3A0xecb5571ce60cf9cd!2s4%20Rue%20Henri%20Ziegler%2C%2031300%20Toulouse!5e0!3m2!1sfr!2sfr!4v1611413301457!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>	
	</div>