			
			
			     <div class="features top_accueil_mobile" id="features">
					<div class="wrap wow fadeInDown" data-wow-delay="0.2s">                   	
                 		  <h2>Partenaire des Professionels et des Particuliers en <span>Ingéniérie et Service Informatique</span> à Toulouse</h2>
                 		    <p>Rendez-vous dans notre atelier de <span>dépannage et de réparation informatique à Toulouse</span> ! Nos experts informaticiens sont là pour trouver une solution à tous vos problèmes informatique et vos pannes de matériel. Venez déposer votre ordinateur portable, votre Mac ou votre PC de bureau et un technicien se chargera de le rendre comme neuf !</p>
                 		        <div class="features_grids">
							     <div class="section group">
								 	<div class="atelier-informatique atelier-informatique-image wow fadeInDown" data-wow-delay="0.5s">
										<img src="{{ asset('assets') }}/images/assistance_c2i.jpg" alt="Notre magasin informatique à Nancy" />
									</div>
									<div class="grid_1_of_2 images_1_of_4 wow fadeInDown" data-wow-delay="0.2s">
										 <img src="{{ asset('assets') }}/images/centre-informatique-nancy.png" alt="Le centre de dépannage informatique de Nancy." />
										 <h3>Le centre informatique</h3>
										 <ul class="infomagasin"> 
											<li>04 rue Henri Ziegler 31300 à Toulouse</li>
											<li>Ouvert le lundi de :</br>14h00 - 19h00</li>
											<li>Du Mardi au Vendredi de :</br>10h30 - 12h30 </br>14h30 - 19h30</li>
											<li>Le Samedi sur Rendez-vous</li>
										</ul>
									</div>
									<div class="grid_1_of_2 images_1_of_4 wow fadeInDown" data-wow-delay="0.5s">
										 <img src="{{ asset('assets') }}/images/avantages-atelier-nancy.png" alt="Les avantages de l'atelier informatique." />
										  <h3>Nos qualités</h3>
										<ul class="infomagasin">
											<li>Fiabilité</li>
											<li>Performance</li>
											<li>Proximité</li>
											<li>Rapidité</li>
											<li>Disponibilité</li>
											<li>Veille Technologie</li>
											<li>Interventions sur site Garanties</li>
										</ul>
									</div>

					              </div>	

								
								</div>
								<p>Notre mission est de servir les profesionnels et les particuliers dans leurs tâches quotidiennes de Panne, de Déploiement, d'Administration, de Gestion et de Modification d'Architecture. <span>Faites dépanner vos ordinateur</span> (PC, Mac, ordinateur sur-mesure...) et <span>réparer leur matériel informatique</span> (remplacement d'écran de PC portable, changement de connecteur d'alimentation, de clavier, d'alimentation...).
								Nous disposons également de <span>nombreux autres services en informatique</span> comme la récupération de données (sur disque dur, clé USB et autre support de stockage) ou la maintenance de parc informatique.</p>
                 		    
					</div>
     		</div>	