<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>C2i Micro</title>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta name="title" content="C2i Micro.">
            <meta name="description" content="C2i Micro.">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet" type="text/css" media="all"/>
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('assets/css/flexslider.css') }}" type="text/css" media="screen" />
            <script src="{{ asset('assets/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/script.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.fancybox.css') }}" media="screen" />
            <script type="text/javascript" src="{{ asset('assets/js/jquery.fancybox-media.js') }}"></script>
            <!--animated-css-->
                <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
                <script src="{{ asset('assets/js/wow.min.js') }}"></script>
                <script>
                new WOW().init();
                </script>
            <!--resizing-scroll-->
            <script src="{{ asset('assets/js/resizing-scroll-jQuery.js') }}"></script>
            <script type="text/javascript">
            $(function() {
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 100) {
                        $(".logo").addClass('smaller');
                        $(".menu").addClass('smaller');
                        $(".tel").addClass('smaller');
                    } else {
                        $(".logo").removeClass("smaller");
                        $(".menu").removeClass('smaller');
                        $(".tel").removeClass('smaller');
                    }
                });
            });
            </script>
        <!--Google analytics-->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64547697-1', 'auto');
        ga('send', 'pageview');

        </script>
    {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
