{% extends 'homebase.html.twig' %}

{% block title %}Accueil C2i{% endblock %}

{% block body %}
      <!--Header-->
    {% include ('home/header.html.twig') %}

    <!--Body-->
    {% include ('home/main.body.html.twig') %}

      <!--Footer-->
    {% include ('home/footer.html.twig') %}
{% endblock %}